
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
body{
    background: url('./bg.jpg');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
body::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background-color: rgb(0 ,0 ,0 , 0.15);
    backdrop-filter: blur(15px);
}
.main-container{
    width: 300px;
    height: 496px;
    z-index: 1;
    background: linear-gradient(
        to top,rgb(0 ,0 ,0 ,0.15),
        rgb(255,255,255,0.15));
        border-radius: 12px;
        backdrop-filter: blur(100px);
        padding: 20px;
}
.input-container{
    margin-bottom: 30px;
    position: relative;
}
.input-container .city-input{
    margin-top: 10px;
    width: 100%;
    font-weight: 500;
    transition:0.1s border;
    padding: 10px 16px;
    border-radius: 99px;
    border:0.5px solid transparent;
    background: rgb(0 0 0 /0.13);
    outline: none;
    caret-color:rgb(0 ,0 ,0 ,0.15) ;
    padding-right: 45px;
}
.city-input:focus{
    border:3px solid rgb(0 ,0 ,0 ,0.15);
    color:white
}
.city-input::placeholder{
    color:rgb(255 ,255 ,255 ,0.75);
}
.search-btn{
    margin-top: 5px;
    position: absolute;
    right: 15px;
    top:50%;
    transform: translateY(-50%);
    border:none;
    background: transparent;
    font-size: 18px;
    color:rgb(0 0 0 /0.13);
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.regluer-txt{
font-weight: 600;
}
.location-data{
    margin-top: 15px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location{
    display: flex;
    align-items: center;
    gap:6px;
}
.weather-summary-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
}
.weather-summary-img{
    width: 120px;
    height: 120px;
}
.weather-summry-info{
    display: flex;
    text-align: end;
    flex-direction: column;
}
.temp-txt{
    white-space: nowrap;
}
.condition{
    white-space: wrap;
}
.weather-conditions-container{
    color:white;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.condtion-item{
    display: flex;

    align-items: center;
    gap:4px;
}
.condtion-item span{
    font-size: 20px;
}
.forecast-items-container{
    margin-top: 40px;
    display: flex;
    gap:15px;
    overflow: scroll;
    padding-bottom:12px ;
}
.forecast-items-container::-webkit-scrollbar{
    height: 8px;
}
.forecast-items-container::-webkit-scrollbar-track{
    background: rgb(0, 0, 0 ,0.1);
    border-radius: 99px;
    width: 15px;
}
.forecast-items-container::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0 ,0.15);
    border-radius: 99px;
}
.forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    min-width: 70px;
    background: rgb(255 ,255 ,255,0.1 );
    border-radius: 12px;
    padding: 10px;
    transition: 0.3s background;
    margin: 5px 5px 5px 0px;
}
.forecast-item:hover{
    background: rgb(255 ,255 ,255 ,0.15);
}
.forecast-item-img{
    width: 35px;
    height: 35px;
}
/* new section */
.section-message{
    display: flex;
    color:white;
    flex-direction:column;
    align-items: center;
    text-align: center;
    gap:15px;
    margin-top: 25%;
}

.section-message img{
    height: 180px;
    width: fit-content;

}